<h2 class="row">Empire</h2>
<div class="row">
	<div class="col-md-6">
		<h3>World</h3>
		<p ng-bind-html="guiModel.data.message"></p>
		<p>{{guiModel.data.actionPrompt}}</p>
		<div class="btn-group">
			<button ng-repeat="choice in guiModel.data.choices" ng-click="scenes.goToScene(choice.nextScene, choice.text, interceptable, choice.data)" type="button" class="btn btn-link">{{choice.text}}</button>
		</div>
	</div>
	<div class="col-md-6">
		<h3>{{gameDataModel.data.stage}} Details</h3>
		<p>Generation: {{gameDataModel.data.generation}}</p>
		<p>Population: {{gameDataModel.data.population}}</p>
		<p>Religion: {{gameDataModel.data.religion}}</p>
		<p>Turns Stationary: {{gameDataModel.data.turnsStationary}}</p>
		<div ng-show="gameDataModel.data.items">
			<p ng-repeat="item in gameDataModel.data.items">{{item}}</p>
		</div>
	</div>
</div>
<div class="row" style="margin-top:100px">
	<div class="well">
		Cheat:
		<a ng-repeat="(name, data) in scenes.list" ng-click="scenes.goToScene(name, name, data.interceptable)">{{name}} </a>
		<br>
		 Population: <input type="number" ng-model="gameDataModel.data.population" placeholder="pop">

		
	</div>
</div>
